body {
  user-select: none;
}

.bucket {
  text-align: center;
  width: auto;
  background-color: #ebecf0;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.cards::-webkit-scrollbar {
  display: none;
}

.cards {
  overflow: scroll;
  flex-grow: 1;
}

.card {
  background-color: #fff;
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px;
}
